USE [master]
GO
/****** Object:  Database [Obyv]    Script Date: 15.12.2022 15:33:12 ******/
CREATE DATABASE [Obyv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOO Obyv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OOO Obyv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOO Obyv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OOO Obyv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Obyv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Obyv]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerId] [int] NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufacturerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] NOT NULL,
	[OrderDate] [datetime] NOT NULL,
	[OrderDeliveryDate] [datetime] NOT NULL,
	[PointId] [int] NOT NULL,
	[UserFullName] [nvarchar](150) NULL,
	[UniqueCode] [int] NOT NULL,
	[StatusId] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[OrderProduct]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[OrderProduct](
	[OrderId] [int] NOT NULL,
	[ProductArticle] [nvarchar](100) NOT NULL,
	[ProductCount] [int] NOT NULL,
 CONSTRAINT [PK_OrderProduct] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ProductArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Point]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Point](
	[PointId] [int] NOT NULL,
	[PointAddress] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Point] PRIMARY KEY CLUSTERED 
(
	[PointId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductArticle] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductDecription] [nvarchar](100) NULL,
	[ProductPhoto] [nvarchar](100) NULL,
	[ProductDiscount] [float] NOT NULL,
	[ProductCost] [float] NOT NULL,
	[ProductManufactureId] [int] NOT NULL,
	[ProductProviderId] [int] NOT NULL,
	[ProductCategoryId] [int] NOT NULL,
	[ProductUnitId] [int] NOT NULL,
	[ProductCount] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ProviderId] [int] NOT NULL,
	[ProviderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ProviderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] NOT NULL,
	[StatusName] [nvarchar](150) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitId] [int] NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 15.12.2022 15:33:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserLastName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserMiddleName] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Category] ([CategoryId], [CategoryName]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (1, N'Kari')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Manufacturer] ([ManufacturerId], [ManufacturerName]) VALUES (3, N'Рос')
GO
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureId], [ProductProviderId], [ProductCategoryId], [ProductUnitId], [ProductCount]) VALUES (N'AAA666', N'тулфитипо', N'Типо ', N'AAA666.jpg', 26, 666, 3, 1, 2, 1, 6)
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureId], [ProductProviderId], [ProductCategoryId], [ProductUnitId], [ProductCount]) VALUES (N'B320R5', N'Туфлиииии', N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'B320R5.jpg', 2, 4300, 1, 1, 1, 1, 6)
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureId], [ProductProviderId], [ProductCategoryId], [ProductUnitId], [ProductCount]) VALUES (N'B431R5', N'Ботинки', N'Мужские кожаные ботинки/мужские ботинки', N'B431R5.jpg', 2, 2700, 4, 1, 2, 1, 5)
GO
INSERT [dbo].[Provider] ([ProviderId], [ProviderName]) VALUES (1, N'Kari')
INSERT [dbo].[Provider] ([ProviderId], [ProviderName]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Клиент')
GO
INSERT [dbo].[Unit] ([UnitId], [UnitName]) VALUES (1, N'шт')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (1, N'Федоров', N'Глеб', N'Михайлович', N'o@outlook.com', N'2L6KZG', 1)
INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (2, N'Семенова', N'Софья', N'Дмитриевна', N'hr6zdl@yandex.ru', N'uzWC67', 1)
INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (3, N'Васильев', N'Егор', N'Германович', N'kaft93x@outlook.com', N'8ntwUp', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Point] FOREIGN KEY([PointId])
REFERENCES [dbo].[Point] ([PointId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Point]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Order] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Order]
GO
ALTER TABLE [dbo].[OrderProduct]  WITH CHECK ADD  CONSTRAINT [FK_OrderProduct_Product] FOREIGN KEY([ProductArticle])
REFERENCES [dbo].[Product] ([ProductArticle])
GO
ALTER TABLE [dbo].[OrderProduct] CHECK CONSTRAINT [FK_OrderProduct_Product]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([ProductManufactureId])
REFERENCES [dbo].[Manufacturer] ([ManufacturerId])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  Statistic [PK_Category]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Category]([PK_Category]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Manufacturer]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Manufacturer]([PK_Manufacturer]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Order]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Order]([PK_Order]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_OrderProduct]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[OrderProduct]([PK_OrderProduct]) WITH STATS_STREAM = 0x010000000200000000000000000000008684C4BA0000000058000000000000000000000000000000380300003800000004000A00000000000000000000000000E7030000E7000000C80000000000000015D0000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Point]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Point]([PK_Point]) WITH STATS_STREAM = 0x010000000100000000000000000000000E23E3300000000040000000000000000000000000000000380300003800000004000A000000000000000000FFFFFFFF, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [_WA_Sys_00000002_267ABA7A]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000002_267ABA7A] ON [dbo].[Product]([ProductName]) WITH STATS_STREAM = 0x0100000001000000000000000000000096EE76D400000000A8030000000000006803000000000000E7037313E7000000C80000000000000015D000000000000007000000FFB600015BAF00001E000000000000001E00000000000000000000002549123E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000007000000070000000100000010000000898868410000F04100000000898868410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000003B01000000000000E401000000000000EC01000000000000F40100000000000038000000000000005D000000000000007C00000000000000A500000000000000D200000000000000F5000000000000001A010000000000003000100000001041000000000000803F0400000100250011043E04420438043D043A043804300010000000803F000000000000803F04000001001F001A04350434044B043000100000000040000000000000803F040000010029001A0440043E04410441043E0432043A043804300010000000C040000000000000803F04000001002D001F043E043B04430431043E04420438043D043A043804300010000000803F000000000000803F04000001002300210430043F043E04330438043000100000004040000000000000803F04000001002500220430043F043E0447043A0438043000100000000041000000000000803F040000010021002204430444043B043804FF01000000000000000B00000006000000280000002800000000000000000000002900000011043E04420438043D043A0438041A04350434044B0440043E04410441043E0432043A0438041F043E043B04430431043E04420438043D043A043804220430043F043E0447043A043804430444043B0438040900000040000000008307000000C001070000810308000001080B0000820B13000040011E000081061F00000304250000001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_267ABA7A]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000005_267ABA7A] ON [dbo].[Product]([ProductDiscount]) WITH STATS_STREAM = 0x01000000010000000000000000000000D38E7A3C000000008E020000000000004E020000000000003E0300003E0000000800350000000000000000000000000007000000615EF9005BAF00001E000000000000001E0000000000000000000000ABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000006000000060000000100000018000000000000410000F0410000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000D200000000000000DA00000000000000E20000000000000030000000000000004B00000000000000660000000000000081000000000000009C00000000000000B7000000000000001000180000006041000000000000803F00000000000000400400001000180000001041000000000000803F00000000000008400400001000180000008040000000000000803F0000000000001040040000100018000000803F000000000000803F0000000000001440040000100018000000803F000000000000803F0000000000003040040000100018000000803F000000000000803F00000000000037400400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_267ABA7A]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000006_267ABA7A] ON [dbo].[Product]([ProductCost]) WITH STATS_STREAM = 0x010000000100000000000000000000001A265F67000000000405000000000000C4040000000000003E0376133E000000080035000000000000000000E401000007000000C68CE2005CAF00001E000000000000001E000000000000000000803F2549123D000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000018000000180000000100000018000000000000410000F0410000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000011040000000000000000000000000000480300000000000050030000000000005803000000000000C000000000000000DB00000000000000F60000000000000011010000000000002C01000000000000470100000000000062010000000000007D010000000000009801000000000000B301000000000000CE01000000000000E90100000000000004020000000000001F020000000000003A02000000000000550200000000000070020000000000008B02000000000000A602000000000000C102000000000000DC02000000000000F70200000000000012030000000000002D03000000000000100018000000803F000000000000803F0000000000407F40040000100018000000803F000000000000803F0000000000B88240040000100018000000803F000000000000803F0000000000909A40040000100018000000803F0000803F0000803F0000000000889D40040000100018000000803F000000000000803F000000000068A040040000100018000000803F000000000000803F0000000000D8A040040000100018000000803F000000000000803F0000000000F8A1400400001000180000000040000000000000803F000000000018A5400400001000180000000040000000000000803F0000000000E0A540040000100018000000803F000000000000803F000000000058A940040000100018000000803F000000000000803F0000000000B0AD40040000100018000000803F000000000000803F000000000004B040040000100018000000803F000000400000803F000000000093B140040000100018000000803F0000803F0000803F00000000005BB240040000100018000000803F000000000000803F00000000007EB340040000100018000000803F000000000000803F000000000018B540040000100018000000803F000000000000803F00000000007CB540040000100018000000803F000000000000803F00000000000CB740040000100018000000803F000000000000803F0000000000C8B940040000100018000000803F000000000000803F000000000090BA40040000100018000000803F000000000000803F000000000056C340040000100018000000803F000000000000803F0000000000ECC340040000100018000000803F000000000000803F00000000000CC740040000100018000000803F000000000000803F000000000038C8400400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_267ABA7A]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000007_267ABA7A] ON [dbo].[Product]([ProductManufactureId]) WITH STATS_STREAM = 0x010000000100000000000000000000002A22761800000000570200000000000017020000000000003803803F3800000004000A00000000000000000000803F0007000000F6A4B8005BAF00001E000000000000001E000000000000000000003FABAA2A3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000005000000050000000100000014000000000080400000F04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000009B00000000000000A300000000000000AB0000000000000028000000000000003F0000000000000056000000000000006D0000000000000084000000000000001000140000000041000000000000803F0100000004000010001400000000400000004000000040030000000400001000140000001041000000000000803F040000000400001000140000000040000000000000803F05000000040000100014000000E040000000000000803F060000000400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000008_267ABA7A]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000008_267ABA7A] ON [dbo].[Product]([ProductProviderId]) WITH STATS_STREAM = 0x01000000010000000000000000000000F992FD3500000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000002501000007000000FAA4B8005BAF00001E000000000000001E00000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000F04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000008041000000000000803F010000000400001000140000006041000000000000803F020000000400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000009_267ABA7A]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000009_267ABA7A] ON [dbo].[Product]([ProductCategoryId]) WITH STATS_STREAM = 0x010000000100000000000000000000001B93695E00000000FA01000000000000BA01000000000000380300003800000004000A0000000000000000002501000007000000E7A4B8005BAF00001E000000000000001E00000000000000000000000000003F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000002000000020000000100000014000000000080400000F04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000003E0000000000000046000000000000004E00000000000000100000000000000027000000000000001000140000009041000000000000803F010000000400001000140000004041000000000000803F020000000400001E000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_0000000A_267ABA7A]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_0000000A_267ABA7A] ON [dbo].[Product]([ProductUnitId]) WITH STATS_STREAM = 0x010000000100000000000000000000006590B77E00000000DB010000000000009B01000000000000380376133800000004000A0000000000000000000000000007000000FEA4B8005BAF00001E000000000000001E00000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000F04100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000F041000000000000803F010000000400001E000000000000000000000000000000
GO
/****** Object:  Statistic [PK_Product]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Product]([PK_Product]) WITH STATS_STREAM = 0x0100000001000000000000000000000002D586210000000040000000000000000000000000000000E7034495E7000000C80000000000000015D0000000000000, ROWCOUNT = 31, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Provider]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Provider]([PK_Provider]) WITH STATS_STREAM = 0x0100000001000000000000000000000040BBC38C0000000040000000000000000000000000000000380344953800000004000A00000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Role]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Role]([PK_Role]) WITH STATS_STREAM = 0x0100000001000000000000000000000040BBC38C0000000040000000000000000000000000000000380344953800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Status]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Status]([PK_Status]) WITH STATS_STREAM = 0x0100000001000000000000000000000040BBC38C0000000040000000000000000000000000000000380344953800000004000A00000000000000000000000000, ROWCOUNT = 0, PAGECOUNT = 0
GO
/****** Object:  Statistic [PK_Unit]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[Unit]([PK_Unit]) WITH STATS_STREAM = 0x0100000001000000000000000000000040BBC38C0000000040000000000000000000000000000000380344953800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_2A4B4B5E]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000002_2A4B4B5E] ON [dbo].[User]([UserLastName]) WITH STATS_STREAM = 0x010000000100000000000000000000002CEF5CA5000000003302000000000000F301000000000000E7030000E7000000C80000000000000015D0000025010000070000002663310156AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002D000000000000006F0000000000000077000000000000007F000000000000000800000000000000300010000000803F000000000000803F040000010025002404350434043E0440043E043204FF0100000000000000010000000100000028000000280000000000000000000000070000002404350434043E0440043E04320402000000400000000001070000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_2A4B4B5E]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000003_2A4B4B5E] ON [dbo].[User]([UserName]) WITH STATS_STREAM = 0x0100000001000000000000000000000082EC10CC000000002702000000000000E701000000000000E7030000E7000000C80000000000000015D00000E7000000070000002563310156AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000270000000000000063000000000000006B0000000000000073000000000000000800000000000000300010000000803F000000000000803F04000001001F0013043B0435043104FF01000000000000000100000001000000280000002800000000000000000000000400000013043B043504310402000000400000000001040000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_2A4B4B5E]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000004_2A4B4B5E] ON [dbo].[User]([UserMiddleName]) WITH STATS_STREAM = 0x010000000100000000000000000000002095DEAE000000003F02000000000000FF01000000000000E7030000E7000000C80000000000000015D0000001000000070000002463310156AF000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0410000803F000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000033000000000000007B0000000000000083000000000000008B000000000000000800000000000000300010000000803F000000000000803F04000001002B001C0438044504300439043B043E04320438044704FF01000000000000000100000001000000280000002800000000000000000000000A0000001C0438044504300439043B043E04320438044704020000004000000000010A0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_2A4B4B5E]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000005_2A4B4B5E] ON [dbo].[User]([UserLogin]) WITH STATS_STREAM = 0x010000000100000000000000000000007C98CD86000000004B020000000000000B02000000000000E7030000E7000000C80000000000000015D0000001000000070000002363310156AF000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000D0410000803F000000000000D041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000390000000000000087000000000000008F0000000000000097000000000000000800000000000000300010000000803F000000000000803F040000010031006F0040006F00750074006C006F006F006B002E0063006F006D00FF01000000000000000100000001000000280000002800000000000000000000000D0000006F0040006F00750074006C006F006F006B002E0063006F006D00020000004000000000010D0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_2A4B4B5E]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000006_2A4B4B5E] ON [dbo].[User]([UserPassword]) WITH STATS_STREAM = 0x01000000010000000000000000000000564F64F5000000002F02000000000000EF01000000000000E7037613E7000000C80000000000000015D0000000000000070000002763310156AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F0400000100230032004C0036004B005A004700FF01000000000000000100000001000000280000002800000000000000000000000600000032004C0036004B005A00470002000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_2A4B4B5E]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000007_2A4B4B5E] ON [dbo].[User]([RoleID]) WITH STATS_STREAM = 0x01000000010000000000000000000000D15F8FA500000000DB010000000000009B01000000000000380376133800000004000A00000000000000000000000000070000002263310156AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_2E1BDC42]    Script Date: 15.12.2022 15:33:13 ******/
CREATE STATISTICS [_WA_Sys_00000007_2E1BDC42] ON [dbo].[User]([RoleID]) WITH STATS_STREAM = 0x010000000100000000000000000000006CC744B1000000001902000000000000D901000000000000380300003800000004000A000000000000000000000000000700000001A5B8005BAF00000A000000000000000A0000000000000000000000ABAAAA3E000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000003000000030000000100000014000000000080400000204100000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000005D0000000000000065000000000000006D0000000000000018000000000000002F0000000000000046000000000000001000140000004040000000000000803F010000000400001000140000004040000000000000803F020000000400001000140000008040000000000000803F030000000400000A000000000000000000000000000000
GO
/****** Object:  Statistic [PK_User]    Script Date: 15.12.2022 15:33:13 ******/
UPDATE STATISTICS [dbo].[User]([PK_User]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 11, PAGECOUNT = 1
GO
USE [master]
GO
