USE [master]
GO
/****** Object:  Database [OOO Obyv]    Script Date: 27.11.2022 15:46:18 ******/
CREATE DATABASE [OOO Obyv]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOO Obyv', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OOO Obyv.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'OOO Obyv_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\OOO Obyv_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOO Obyv].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOO Obyv]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 27.11.2022 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryID] [int] NOT NULL,
	[CategoryName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Manufacturer]    Script Date: 27.11.2022 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Manufacturer](
	[ManufacturerID] [int] NOT NULL,
	[ManufacturerName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Manufacturer] PRIMARY KEY CLUSTERED 
(
	[ManufacturerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 27.11.2022 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ProductArticle] [nvarchar](100) NOT NULL,
	[ProductName] [nvarchar](100) NOT NULL,
	[ProductDecription] [nvarchar](100) NULL,
	[ProductPhoto] [nvarchar](100) NULL,
	[ProductDiscount] [float] NOT NULL,
	[ProductCost] [float] NOT NULL,
	[ProductManufactureID] [int] NOT NULL,
	[ProductProviderID] [int] NOT NULL,
	[ProductCategoryID] [int] NOT NULL,
	[ProductUnitID] [int] NOT NULL,
	[ProductCount] [int] NOT NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ProductArticle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Provider]    Script Date: 27.11.2022 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Provider](
	[ProviderID] [int] NOT NULL,
	[ProviderName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Provider] PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 27.11.2022 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleID] [int] NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Unit]    Script Date: 27.11.2022 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Unit](
	[UnitID] [int] NOT NULL,
	[UnitName] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_Unit] PRIMARY KEY CLUSTERED 
(
	[UnitID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 27.11.2022 15:46:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserID] [int] IDENTITY(1,1) NOT NULL,
	[UserLastName] [nvarchar](100) NOT NULL,
	[UserName] [nvarchar](100) NOT NULL,
	[UserMiddleName] [nvarchar](100) NOT NULL,
	[UserLogin] [nvarchar](100) NOT NULL,
	[UserPassword] [nvarchar](100) NOT NULL,
	[RoleID] [int] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (1, N'Женская обувь')
INSERT [dbo].[Category] ([CategoryID], [CategoryName]) VALUES (2, N'Мужская обувь')
GO
INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName]) VALUES (1, N'Kari')
INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Manufacturer] ([ManufacturerID], [ManufacturerName]) VALUES (3, N'Рос')
GO
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureID], [ProductProviderID], [ProductCategoryID], [ProductUnitID], [ProductCount]) VALUES (N'B320R5', N'Туфли', N'Туфли Rieker женские демисезонные, размер 41, цвет коричневый', N'B320R5.jpg', 2, 4300, 4, 1, 1, 1, 6)
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureID], [ProductProviderID], [ProductCategoryID], [ProductUnitID], [ProductCount]) VALUES (N'B431R5', N'Ботинки', N'Мужские кожаные ботинки/мужские ботинки', N'', 2, 2700, 4, 2, 2, 1, 5)
INSERT [dbo].[Product] ([ProductArticle], [ProductName], [ProductDecription], [ProductPhoto], [ProductDiscount], [ProductCost], [ProductManufactureID], [ProductProviderID], [ProductCategoryID], [ProductUnitID], [ProductCount]) VALUES (N'C436G5', N'Ботинки', N'Ботинки женские, ARGO, размер 40', N'', 2, 10200, 5, 1, 1, 1, 9)
GO
INSERT [dbo].[Provider] ([ProviderID], [ProviderName]) VALUES (1, N'Kari')
INSERT [dbo].[Provider] ([ProviderID], [ProviderName]) VALUES (2, N'Обувь для вас')
GO
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (1, N'Администратор')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (2, N'Менеджер')
INSERT [dbo].[Role] ([RoleID], [RoleName]) VALUES (3, N'Клиент')
GO
INSERT [dbo].[Unit] ([UnitID], [UnitName]) VALUES (1, N'шт')
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (1, N'Федоров', N'Глеб', N'Михайлович', N'o@outlook.com', N'2L6KZG', 1)
INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (2, N'Семенова', N'Софья', N'Дмитриевна', N'hr6zdl@yandex.ru', N'uzWC67', 1)
INSERT [dbo].[User] ([UserID], [UserLastName], [UserName], [UserMiddleName], [UserLogin], [UserPassword], [RoleID]) VALUES (3, N'Васильев', N'Егор', N'Германович', N'kaft93x@outlook.com', N'8ntwUp', 1)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Category] FOREIGN KEY([ProductCategoryID])
REFERENCES [dbo].[Category] ([CategoryID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Category]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Manufacturer] FOREIGN KEY([ProductManufactureID])
REFERENCES [dbo].[Manufacturer] ([ManufacturerID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Manufacturer]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Provider] FOREIGN KEY([ProductProviderID])
REFERENCES [dbo].[Provider] ([ProviderID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Provider]
GO
ALTER TABLE [dbo].[Product]  WITH CHECK ADD  CONSTRAINT [FK_Product_Unit] FOREIGN KEY([ProductUnitID])
REFERENCES [dbo].[Unit] ([UnitID])
GO
ALTER TABLE [dbo].[Product] CHECK CONSTRAINT [FK_Product_Unit]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Role] ([RoleID])
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
/****** Object:  Statistic [PK_Category]    Script Date: 27.11.2022 15:46:19 ******/
UPDATE STATISTICS [dbo].[Category]([PK_Category]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Manufacturer]    Script Date: 27.11.2022 15:46:19 ******/
UPDATE STATISTICS [dbo].[Manufacturer]([PK_Manufacturer]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 6, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Product]    Script Date: 27.11.2022 15:46:19 ******/
UPDATE STATISTICS [dbo].[Product]([PK_Product]) WITH STATS_STREAM = 0x01000000010000000000000000000000AF6D1D430000000040000000000000000000000000000000E7030000E7000000C80000000000000015D0000000000000, ROWCOUNT = 30, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Provider]    Script Date: 27.11.2022 15:46:19 ******/
UPDATE STATISTICS [dbo].[Provider]([PK_Provider]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 2, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Role]    Script Date: 27.11.2022 15:46:19 ******/
UPDATE STATISTICS [dbo].[Role]([PK_Role]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 3, PAGECOUNT = 1
GO
/****** Object:  Statistic [PK_Unit]    Script Date: 27.11.2022 15:46:19 ******/
UPDATE STATISTICS [dbo].[Unit]([PK_Unit]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 1, PAGECOUNT = 1
GO
/****** Object:  Statistic [_WA_Sys_00000002_2A4B4B5E]    Script Date: 27.11.2022 15:46:19 ******/
CREATE STATISTICS [_WA_Sys_00000002_2A4B4B5E] ON [dbo].[User]([UserLastName]) WITH STATS_STREAM = 0x0100000001000000000000000000000022ABD06F000000003302000000000000F301000000000000E7030000E7000000C80000000000000015D0000000000000070000002663310156AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000060410000803F00000000000060410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002D000000000000006F0000000000000077000000000000007F000000000000000800000000000000300010000000803F000000000000803F040000010025002404350434043E0440043E043204FF0100000000000000010000000100000028000000280000000000000000000000070000002404350434043E0440043E04320402000000400000000001070000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000003_2A4B4B5E]    Script Date: 27.11.2022 15:46:19 ******/
CREATE STATISTICS [_WA_Sys_00000003_2A4B4B5E] ON [dbo].[User]([UserName]) WITH STATS_STREAM = 0x0100000001000000000000000000000024D55A84000000002702000000000000E701000000000000E7030000E7000000C80000000000000015D00000FFFFFFFF070000002563310156AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000000410000803F0000000000000041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000270000000000000063000000000000006B0000000000000073000000000000000800000000000000300010000000803F000000000000803F04000001001F0013043B0435043104FF01000000000000000100000001000000280000002800000000000000000000000400000013043B043504310402000000400000000001040000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000004_2A4B4B5E]    Script Date: 27.11.2022 15:46:19 ******/
CREATE STATISTICS [_WA_Sys_00000004_2A4B4B5E] ON [dbo].[User]([UserMiddleName]) WITH STATS_STREAM = 0x01000000010000000000000000000000851F5593000000003F02000000000000FF01000000000000E703FFFFE7000000C80000000000000015D0000000000000070000002463310156AF000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000A0410000803F000000000000A04100000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001304000000000000000000000000000033000000000000007B0000000000000083000000000000008B000000000000000800000000000000300010000000803F000000000000803F04000001002B001C0438044504300439043B043E04320438044704FF01000000000000000100000001000000280000002800000000000000000000000A0000001C0438044504300439043B043E04320438044704020000004000000000010A0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000005_2A4B4B5E]    Script Date: 27.11.2022 15:46:19 ******/
CREATE STATISTICS [_WA_Sys_00000005_2A4B4B5E] ON [dbo].[User]([UserLogin]) WITH STATS_STREAM = 0x01000000010000000000000000000000D650C985000000004B020000000000000B02000000000000E7035466E7000000C80000000000000015D0000000000000070000002363310156AF000001000000000000000100000000000000000000000000803F0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000010000000100000001000000100000000000D0410000803F000000000000D041000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000013040000000000000000000000000000390000000000000087000000000000008F0000000000000097000000000000000800000000000000300010000000803F000000000000803F040000010031006F0040006F00750074006C006F006F006B002E0063006F006D00FF01000000000000000100000001000000280000002800000000000000000000000D0000006F0040006F00750074006C006F006F006B002E0063006F006D00020000004000000000010D0000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000006_2A4B4B5E]    Script Date: 27.11.2022 15:46:19 ******/
CREATE STATISTICS [_WA_Sys_00000006_2A4B4B5E] ON [dbo].[User]([UserPassword]) WITH STATS_STREAM = 0x01000000010000000000000000000000A402F7F2000000002F02000000000000EF01000000000000E7030000E7000000C80000000000000015D0000000000000070000002763310156AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000010000000000040410000803F00000000000040410000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000130400000000000000000000000000002B000000000000006B0000000000000073000000000000007B000000000000000800000000000000300010000000803F000000000000803F0400000100230032004C0036004B005A004700FF01000000000000000100000001000000280000002800000000000000000000000600000032004C0036004B005A00470002000000400000000001060000000001000000000000000000000000000000
GO
/****** Object:  Statistic [_WA_Sys_00000007_2A4B4B5E]    Script Date: 27.11.2022 15:46:19 ******/
CREATE STATISTICS [_WA_Sys_00000007_2A4B4B5E] ON [dbo].[User]([RoleID]) WITH STATS_STREAM = 0x010000000100000000000000000000006C3117F700000000DB010000000000009B01000000000000380300003800000004000A00000000000000000000000000070000002263310156AF000001000000000000000100000000000000000000000000803F000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000001000000010000000100000014000000000080400000803F00000000000080400000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000110400000000000000000000000000001F0000000000000027000000000000002F000000000000000800000000000000100014000000803F000000000000803F0100000004000001000000000000000000000000000000
GO
/****** Object:  Statistic [PK_User]    Script Date: 27.11.2022 15:46:19 ******/
UPDATE STATISTICS [dbo].[User]([PK_User]) WITH STATS_STREAM = 0x01000000010000000000000000000000ED0358EE0000000040000000000000000000000000000000380300003800000004000A00000000000000000000000000, ROWCOUNT = 10, PAGECOUNT = 1
GO
USE [master]
GO
